
<table class="table" >
    <% @frases.each_with_index do |frase, index| %>
        <tr>
           <td>
                <%= frase[:text] %>
            </td>
            <td  style="max-width:25px" >
                <a href="https://translate.google.com/#fr/pt/<%= frase[:text] %>">gt</a>
            </td>
            <td  style="max-width:180px" >
                <input name="translate" id="translate_<%= frase[:id] %>" type="text" size=30 value="<%= frase[:translate]%>"
                onblur="update_frase(<%= frase[:id] %>)" />
                <input type="button" value="tt" onclick="update_frase(<%= frase[:id] %>)">
            </td>
            <td  style="max-width:25px" >
                <a href="<%= frase[:id] %>">id</a>
            </td>
            <td  style="max-width:25px" >
                <input type="button" value="X" onclick="delete_frase(<%= frase[:id] %>)">
            </td>
       </tr>
        </div>
    <% end if @frases%>
</table>
