<table class="table" >
    <% @dirs.each_with_index do |item, index| %>
        <tr>
            <td>
                <a href="/kit_files/<%=session[:username]%>/<%=item%>"><%=item%></a>
            </td>
            <td>
                <a href="/kit_files/<%=session[:username]%>/<%= item %>">public link</a>
            </td>
            <td>
                <a href="/kit_files/delete/<%= item %>">delete file</a>
            </td>
        </tr>
    <% end if @dirs %>

    <% @files.each_with_index do |item, index| %>
        <tr>
            <td>
                <%= item %>
            </td>
            <td>
                <a href="/kit_files/<%=session[:username]%>/<%= item %>">public link</a>
            </td>
            <td>
                <a href="/kit_files/delete/<%= item %>">delete file</a>
            </td>
        </tr>
    <% end if @files %>
</table>
