<table class="table" >
    <% @todos.each_with_index do |todo, index| %>
        <tr>
            <td>
                <% todo[:todo_tag_list].each do |tag| %>
                    <a style="font-size:30%;" class="tag label label-primary" href="/todo/todo_list?tag_id=<%=tag[:id]%>"><%= tag[:tag] %></a>
                <% end if todo[:todo_tag_list]%>
                <% if todo[:flag_do_it] == 't' %>
                    <strong class="tag label label-danger" >doit</strong>
                <% end %>
                <%= todo[:text] %>
            </td>
            <td>
                <select onchange="update_tag_id(this,<%= todo[:id]%>)">
                <% if @tag_list %>
                    <% @tag_list.each do |b| %>
                        <option value="<%= b[:id] %>" <%= "selected='true'" if b[:id] == todo[:tag_id] %>><%= b[:tag] %></option>
                    <% end %>
                <% end %>
                </select>
            </td>
            <td>
            <input type="checkbox" name="flag_do_it" onchange="update_flag_do_it(this,<%= todo[:id]%>)" value="true"<%= "checked" if todo[:flag_do_it] == 't' %>>
            </td>
            <td  style="min-width:85px" >
                <%= todo[:created_at] %>
            </td>
            <td>
                <a href="/todo/set_todo_done?id=<%=todo[:id]%>">v/</a>
            </td>
            <td>
                <a href="/todo/rm_todo?id=<%=todo[:id]%>">X</a>
            </td>
        </tr>
    <% end if @todos%>
</table>
