<table class="table table-condensed" >
    <% @daily_tasks.each_with_index do |task, index| %>
        <tr <% if task[:done] == 't' %> style="background-color:#90EE90;" <% end %>>
            <td class="col-md-4">
                <%= task[:text] %>
            </td>
            <td>
                <div class="btn-group" role="group" >
                    <button type="button" class="btn btn-primary" name="task_done" onclick="update_task_checkbox(this,<%= task[:id]%>, 'done')" >done</button>
                    <button type="button" class="btn btn-info"name="task_do_not_apply" onclick="update_task_checkbox(this,<%= task[:id]%>, 'do_not_apply')" >do not apply</button>
                    <button type="button" class="btn btn-danger" name="task_will_not_do_it" onclick="update_task_checkbox(this,<%= task[:id]%>, 'will_not_do_it')" >won't do it</button>
                    <div class="input-group">
                        <!-- <input type="text" class="form&#45;control" placeholder="excuse?"  /> -->
                        <input class="form-control" placeholder="excuse?" name="task_journal_text" id="text_daily_journal_<%= task[:id] %>" type="text" size=30 value="<%= task[:journal_text]%>" onblur="update_daily_task_journal_text(<%= task[:id] %>)" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="update_daily_task_journal_text(<%= task[:id] %>)" >excuse?</button>
                            <!-- <input type="button" value="ok" onclick="update_daily_task_journal_text(<%= task[:id] %>)" > -->
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <!--[<%= task[:id] %>]_[<%= task[:journal_task_id] %>] -->
                <a href="/kit_daily/rm_daily_task?id=<%=task[:id]%>">X</a>
                <br>
            </td>
        </tr>
    <% end if @daily_tasks != nil%>
</table>

