<form id="new_cookbook"  method="get" action="/new_cookbook">
    <labeL for="subject">subject:</labeL>
    <input name="subject" id="subject" value="postgresql" type="text" size=20 />
    <p />
    <labeL for="description">description:</labeL>
    <input name="description" id="description" type="text" size=100 />
    <p />
    <labeL for="text">cookbook:</labeL>
    <p />
    <textarea name="text" id="text" rows="4" cols="100" ></textarea>
    <p />
    <input type="submit" value="go">
</form>

    <% @cookbooks.each_with_index do |cookbook, index| %>
        <p><%= cookbook[:created_at] %> - <%= cookbook[:subject] %></p>
        <p><%= cookbook[:description] %> <a href="/rm_cookbook?id=<%=cookbook[:id]%>">X</a> </p>
<pre>
<%= cookbook[:text] %>
</pre>
    <% end if @cookbooks%>
