<form id="new_todo"  method="get" action="/new_todo">
    <labeL for="text">ToDo:</labeL>
    <input name="text" id="text" type="text" size=100 />
    <input type="submit" value="go">
</form>

<form id="new_tag" method="get" action="/new_tag">
    <labeL for="tag_name">Tag:</labeL>
    <input name="tag_name" id="tag_name" type="text" size=20 />
    <labeL for="tag_desc">Tag Description:</labeL>
    <input name="tag_desc" id="tag_desc" type="text" size=80 />
    <input type="submit" value="go">
</form>
<table class="table" >
    <% @tag_list.each_with_index do |tag, index| %>
        <tr>
            <td>
                <a href="/todo_list?tag_id=<%=tag[:id]%>"><%= tag[:tag] %></a>
            </td>
            <td>
                <%= tag[:description] %>
            </td>
            <td>
                <a href="/rm_tag?id=<%=tag[:id]%>">X</a>
            </td>
        </tr>
        </div>
    <% end if @tag_list%>
</table>

<table class="table">
    <% @feedback.each do |f|  %>
        <tr>
            <td>
                <%= f[:id] %>
            </td>

            <td>
                <%= f[:created_at] %>
            </td>

            <td>
                <%= f[:text] %>
            </td>
        </tr>
    <% end if @feedback %>
</table>
