<script>
        function edit_time(id) {
        console.log("id: " + id)
        $.ajax({
            url: "/kit_time/get_info_time",
            type: "GET",
            //accepts: "application/json",
            //dataType: "json",
            data: {
                "time_id": id,
            }
        }).done( function(json) {
            $('#tasks_new').html(json);
            $("#exampleModal").modal()
        });
    }
</script>

<div class="row">
kit_time/kit_time.erb
</div>
<div class="row">
    <% if @tag_list %>
        <% @tag_list.each do |tag| %>
            <a href="/kit_time/time_list?tag_id=<%= tag[:id] %>" class="tag label label-<%= tag[:label] %>" ><%= tag[:tag] %></a>
        <% end %>
    <% end %>
</div>
<br>


<div class="col-md-12">
<div class="col-md-8">
<%= erb :"kit_time/list_time", layout: false %>
</div>

<div class="col-md-4">
<%= erb :"kit_time/form_new_time", layout: false %>
</div>
</div>



